{% if logged_in %}
<article{{ attributes }}>
{{ title_prefix }}
{{ title_suffix }}
{% endif %}

{% include '@utpost/node/elements/util.html.twig' ignore missing %}

<div class="container target_container">
  <div id="main" class="columnas columnas_top">
    {% include '@utpost/node/info/info-banner.html.twig' ignore missing %}
    {% include '@utpost/node/info/info-aside.html.twig' ignore missing %}
    {% include '@utpost/node/info/info-producto.html.twig' ignore missing %}
  </div>
</div>

{% if logged_in %}
</article>
{% endif %}
