{% if node.field_target_conectados.value|length > 0 %}
<section id="more" class="more">
  {% for carousel in node.field_target_final %}
    {% include '@utpost/node/parrafos/carousel.html.twig' ignore missing %}
  {% endfor %}
</section>
{% endif %}
