<div id="buscador" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-full uk-close-large boton_close" type="button" uk-close></button>
      <h4>Buscador</h4>
      <form id="utpost_buscador" method="post">
        <div class="form_texto">
          <input id="texto_buscar" name="texto_buscar" class="texto_buscar" type="text" placeholder="Buscar" aria-label="Buscar">
          <button id="boton_calato" class="go" aria-label="go_subs">¡Go!</button>
        </div>
      </form>
    </div>
</div>
