<div id="menu" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-full uk-close-large boton_close" type="button" uk-close></button>
      <h4>Menu</h4>
      {{ drupal_menu('main', 1 , 0, false) }}
    </div>
</div>
