<div id="producto" class="col_3_4 target_main">
  {% include '@utpost/node/targets/targets-conectados.html.twig' ignore missing %}
  {% include '@utpost/node/targets/targets-about.html.twig' ignore missing %}
  {% include '@utpost/node/targets/targets-beneficios.html.twig' ignore missing %}
  {% include '@utpost/node/targets/targets-dirigido.html.twig' ignore missing %}
  {% include '@utpost/node/targets/targets-malla.html.twig' ignore missing %}
  {% include '@utpost/node/targets/targets-docentes.html.twig' ignore missing %}
  {% include '@utpost/node/targets/targets-final.html.twig' ignore missing %}
</div>
