<div class="header_modal">
  <button data-opens="contacto" class="boton_negro" uk-toggle="target: #contacto" aria-label="Contacto">Contáctanos</button>
  <button data-opens="buscador" class="boton_lupa" uk-toggle="target: #buscador" aria-label="Buscador">B</button>
  <span class="separador"></span>
  <img class="filtro" data-src="{{ intercorp_img }}" uk-img width="175" height="32" alt="INTERCORP" />
</div>
